header{
  width: 100%;
  color:white;
  height: 6em;
  display: inline-block;
  background-color: #355c7d;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 4px solid #f67280;
}

h1{
  text-align: left;
  cursor: pointer;
  margin-left: 1em;
}

.menu{
  margin: 0;
  display: flex;
  flex-direction: row;
  margin-right: 2em;
}
